@font-face {
        font-family: "Roboto";
        font-style: normal;
        src: local("Roboto-BoldCondensed"), url("Roboto-BoldCondensed.ttf") format("truetype"); /* non-IE */
}
@font-face {
        font-family: "Lobster";
        font-style: normal;
        src: local("Lobster"), url("Lobster.ttf") format("truetype"); /* non-IE */
}
div.x-img.gold{
    background-color: gold !important;
}
div#splash {
    z-index	: 999;
    position	: absolute;
    display	: block;
    left	: 0;
    top	: 0;
}
div#splash > img {
    width	: 100%;
    height	: 100%;
}
//div.x-list div.x-list-item{
//    padding: 0.5em 0em 0.5em 0.8em;
//}
div.x-list div.x-list-item div.x-list-disclosure{
    background-position: 50% 50%;
    background-size:1em 1em;
}
div#FavList div.x-list-item,
div#EventsViewport div.x-list div.x-list-item {
    padding:0.2em 0.4em 0.1em 0.5em;
}
div.x-list-item div.list-item-title
{
    font-size:smaller;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display:inline-block;
    font-weight:bold;
    padding:0;
}
.x-item-selected .list-item-title
{
    color:#ffffff;
}
.x-item-selected .list-item-narrative
{
    color:#ffffff;
}
div.x-list-item div.list-item-content
{
    font-size:70%;
    display:inline-block;
    width:100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: slategray;
    /*font-style:italic;*/
    position:relative;
    top:-0.3em;
}

/* ломает layout
.non-flicker-tabs {
-webkit-backface-visibility: hidden;
}*/

.small-font
{
    font-size: smaller;
}

.podcast-icon {
    -webkit-mask-image:url('config/resources/icons/podcast.png');
}
.share-icon {
    -webkit-mask-image:url('config/resources/icons/share.png');
}
.fav-icon {
    -webkit-mask-image:url('config/resources/icons/favorites.png');
}
.home-icon{
    -webkit-mask-image:url('config/resources/icons/home.png');
}
.info-icon{
    -webkit-mask-image:url('config/resources/icons/info.png');
}
.sortbtn.x-button .sortIcon {
    background-image: url('config/resources/icons/sort2.png');
    -webkit-mask-size: 1.3em;
    -webkit-mask-repeat:no-repeat;
    -webkit-mask-position:center;
    width:1.6em;
    height:1.6em;
    margin:auto auto;
    overflow:hidden;
}


div.sortbtn.x-button {
    margin-top:0.1em;
    padding:0.1em;
    color: yellow;
}


div.eventsTabBar.x-docked-top {
    background-image:none;
    background-color:white;
    border-color:lightgrey;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.01, rgb(222,222,222)),
        color-stop(0.61, rgb(232,232,232)),
        color-stop(0.92, rgb(242,242,242))
        );
}

div.eventsTabBar.x-docked-top .x-tab {
    -webkit-border-radius:0px;
    -webkit-border-top-left-radius:0.3em;
    -webkit-border-top-right-radius:0.3em;
    -webkit-border-bottom-right-radius:0px;
    -webkit-border-bottom-left-radius:0px;

    height:1.9em;
    width:47%;
    color:black;

    background-color: white;
    background-image:none;
    -webkit-box-shadow:none;

    position:absolute;
    bottom:-1px;
    margin:0;

    background-color:transparent;
}
div.x-list-normal .x-list-item:nth-child(2) .x-dock-horizontal {
    border-top-style:none;
}

div.eventsTabBar.x-docked-top .x-tab:nth-child(2) {
    right:0.8em;
}

div.eventsTabBar.x-docked-top .x-tab span {
    line-height:1.5em;
}

div.eventsTabBar.x-docked-top {
    border-color: gray;
}

div.eventsTabBar.x-docked-top .x-tab.x-tab-active {
    background-color: #F7F7F7;
    border:1px solid gray;
    border-bottom-style:none;
}


.x-toolbar-title {
    line-height:1.8em;
}
.x-panel.x-floating {
    padding:2px;
}

.x-button-back, .x-toolbar .x-button-back {
    margin-top:0.1em;
}

.sortTitle {
    /*color: white;*/
    text-align: left;                
    overflow: hidden;              
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size:smaller;
    font-weight:bold;
    margin-top:1em;
}

.sortPicker.x-floating .x-panel-body {
    -webkit-border-radius:0px;
    border-radius:0px;
}


div.detailsHeader span.num-votes {
    float:right;
    padding-top:0.1em;
}

div.detailsHeader img.teststar,
div.x-list div.x-list-item img.teststar{
    float:right;
    margin-top:0.2em;
    height:0.8em;
    width:4em;
}
div.detailsHeader div.superstar,
div.x-list div.x-list-item div.superstar {
    float:right;
    display:inline-block;
    background-image:url('config/resources/icons/starfilled.png');
    background-repeat: repeat-x;
    width:3.9em;
    height:1em;
    background-size:0.8em 0.8em;
    margin:0;
}

div.detailsHeader div.superstar.empty,
div.x-list div.x-list-item div.superstar.empty {
    background-image:url('config/resources/icons/star.png');
}

div.detailsHeader div.superstars,
div.x-list div.x-list-item div.superstars {
    float:right;
}
div.x-list div.x-list-item div.superstar,
div.x-list div.x-list-item div.superstars {
    margin-top:0.2em;
}

div.detailsHeader div.superstars div.superstar,
div.x-list div.x-list-item div.superstars div.superstar {
    float:none;
}

div.detailsHeader img.rating-star,
div.detailsHeader img.rating-star-filled,
div.x-list div.x-list-item img.rating-star,
div.x-list div.x-list-item img.rating-star-filled {
    width: 1em;
    height:1em;
}

div.detailsHeader div.stars-set,
div.x-list div.x-list-item div.stars-set {

    display:inline-block;
    float:right;
}


div.x-list div.x-list-item div.list-first-line,
div.x-list div.x-list-item div.list-second-line {           
    white-space: nowrap;
}
div.x-list div.x-list-item div.list-first-line:last-child{
    padding-top:0.5em;
}
div.x-list div.x-list-item div.list-second-line.event-description{
    line-height: 80%;
    font-size: 97%;
}
div.x-list div.x-list-item div.list-second-line.event-description div.list-item-content{
    color: #3D4C5B;
}
div.x-list div.x-list-item div.list-second-line.event-description.schedule-description{
    text-overflow: none;
}

div.x-list div.x-list-item div.list-second-line.event-description.schedule-description div.list-item-content{
    color:black;
    display: inline-block;
    overflow: hidden;              
    white-space: nowrap;
    width:100%;
}

div.x-list div.x-list-item div.list-second-line.event-description.schedule-description div.list-item-content div.event-where{
    width: auto;
    max-width:50%;
    overflow: hidden;   
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
}

div.x-list div.x-list-item div.list-second-line.event-description.schedule-description div.list-item-content div.event-when{
    display: inline-block;
    overflow: hidden;          
    white-space: nowrap;
}

div.x-list.with-header div.x-list-item:first-child {
    /*padding-top: 0.2em;*/
    border-top:none;
}

div.x-list div.emptyText {
    text-align:center;
    color: #999;
}

div.x-mask.x-mask-gray.solid {
    background-color:white;
}

div.x-mask img.splash {
    background-color:white;
    width:100%;
    height:100%;
}

div#FavList .x-list-item .x-list-item-body span.distance,
div.x-list#placesList .x-list-item .x-list-item-body span.distance {
    padding-top: 0.2em;
    padding-right:0.3em;
    float:right;
    font-size:70%;
    color:slategray;
    font-style:italic;
    clear:both;
}

div#Home .x-list-disclosure {
    -webkit-mask:none;
    background-image:url('config/resources/icons/9_r.png');
    background-repeat:no-repeat;
    background-color:transparent;
    background-position: 50% 50%;
    background-size:1em 1em;
}

/*---socialPanel---*/
div.social-panel{
    margin-top: 0.6em;
    margin-left:0.7em;
    margin-right:0.2em;
    margin-bottom: 0.6em;
}
div.social-panel div.x-panel-body,
form.sharePanel div#hrefs_panel div.x-panel-body
{
    padding:0;
    padding-left:0.2em;
}
div.social-panel .social-button{
    padding: 0;
    margin-right: 0.4em;
    background-image: none;
    background-color: white;
    border: none;
}
div.social-panel div.sendErrorButton{
    color: #3D4C5B;
    font-size:0.7em;
    height: 2.8em;
}
div.social-panel div.sendErrorButton span{
    white-space: normal;
    text-overflow:none;
    line-height: 1em;
}
div#answersSheet, div#phonesList {
    background-color: transparent;
    //background-color: white;
    background-image: none;
    //font-size: 70%;
}
div#answersSheet span, div#phonesList  span{
    white-space: normal;
}

div#answersSheet a.social-href, div#phonesList  a.social-href{
    display: none;
}
/*---Share---*/
form#Share {
}
form#Share .x-tabbar {
    display: none;
}
form#Share .x-panel-body {
    padding: 0;
}
form#Share div.x-list-disclosure {
    -webkit-mask: none;
    background-image: url('config/resources/icons/9_r.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: transparent;
    background-size: 1em 1em;
}
.hrefs_panel .x-list-item-body {
    padding:0;
    padding-left:0.2em;
}
from#Share {
    font-size:smaller;
}
.shareLicensePanel {
    //text-align: justify;
}

#Share .x-list{
    background-color: transparent;
}
#Share .text {
    padding:0.2em 0.4em 0.1em 0.5em;
    font-size:smaller;
}
#Share .texttop{
    padding:0.2em 0.4em 0.1em 0.5em;
}

#Share div.x-list-item {
    padding:0.2em 0.4em 0.1em 0.5em;
    background-color: transparent;
}
#Share div.main-list div.x-list-item{

}
#Share div.main-list div.x-list-item {
    padding:0.5em 0.8em;
}

/*-----------------*/
div.myToolbar div.x-panel-body
{
    color: yellow;
    text-shadow: rgba(0, 0, 0, 0.5) 0 -0.08em 0;
    line-height: 1.8em;
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
div.nobackface {
    -webkit-backface-visibility: hidden;
}

#adv_close {
    position: absolute; 
    bottom: 0; 
    right: 0; 
    width: 96px; 
    height: 96px;
}

#adv_close  > img {
    height: 64px;
    width: 64px;
}

/* auth */

#inner_userinfo {
    display: -webkit-box; 
    width: 100%;
}

#inner_userinfo_img {
    height: 50px;
    display:inline-block; 
    width: 50px;
}

#inner_userinfo_data {
    display: -webkit-box; 
    overflow: hidden;
}

#inner_userinfo_data div {
    overflow: hidden; 
    text-align: left; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
    line-height: 30px;
}
form#optionsView div.x-field{
    background-color: transparent;
}
form#optionsView div.x-field div.x-form-label{
    background-color:transparent;
    border:0px;
}
div.x-mask-loading{
    background-color: transparent !important;
}

form#optionsView #authReset {
    border-bottom: 1px solid #DDD;
}

.x-toolbar-light, .x-tabbar-dark {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2E16B1), color-stop(2%, #180773), color-stop(100%, #180773));
}

.x-toolbar-light, .x-tabbar-dark {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0c0c35), color-stop(2%, #0c0c35), color-stop(100%, #0c0c35));
}

.x-item-selected {
//border:1px solid red;
}

/*====NEWS=============*/
div.newslist  div.x-mask-inner{
    background: transparent;
}
div.newslist div.newslistitem{
    display:-webkit-box;
    padding: 0.3em;
    background: #fff;
    //max-height:5em;
}
div.newslist div.newslistitem:nth-child(even){
    background: transparent;
}
 div.newslist div.newslistitem div.newsListImage{
    /*background-size: 4em auto;
    width: 4em;
    height: 4em;*/
    margin-right: .3em;
    background-position-y: center;
	background-repeat: no-repeat;
    /*border: 1px solid #d4d6e1;
    border-radius: 0.4em;
    //-webkit-border-radius: 0.4em;
    // -webkit-box-shadow: inset 0 2px 2px rgba(0,0,0,.3);*/
}
 div.newslist div.newslistitem div.newsListTitle{
	max-height: 2.3em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-family: "Helvetica Neue", HelveticaNeue, "Helvetica-Neue", Helvetica, "BBAlpha Sans", sans-serif;
    overflow: hidden;
    line-height:1.1em;
    font-size: 0.8em;
    font-weight: bold;
}
div.newslist div.newslistitem div.newsListDescr{
	max-height: 2.4em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 0.65em;
    font-weight: 100;
    line-height:1.2em;
    overflow: hidden;
}
div.newslist div.ListItemInfo{
	padding-top: 0.2em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;

    font-size: 0.6em;
    //white-space: nowrap;
    overflow: hidden;
    //text-overflow: ellipsis;
    color:#999;
}
div.pageview  div.viewer-body div.date-time{
    font-size: 0.6em;
    color:#4d4d4d;
}
div.pageview  div.viewer-body div.header h1{
    font-size:1.3em;
    font-weight: bold;
}

div.pageview  div.body-load div.x-mask,
div.pageview div.body-load div.x-mask div.x-mask-inner{
    background: none;
}
div.pageview  div.body-load div.x-mask div.x-mask-inner div.x-loading-spinner-outer{
    height:4.5em;
}
div.pageview  div.body-load div.x-mask div.x-mask-inner div.x-mask-message{
    text-shadow:none;
    color:#4d4d4d;
}

div.pageview div.page-view-buttons-bar .x-button .x-button-icon.x-icon-mask {
    width: 1.8em;
    height: 1.8em;
    -webkit-mask-size: 1.8em;
}
div.pageview div.viewer-body div.x-html.x-innerhtml{
    padding: 0em;
    line-height: 1.3em;
    font-size: 0.8em;
}
div.pageview div.viewer-body div.x-html div.header p{
    margin: 0 0 0.2em;
}
div.pageview div.viewer-body div.x-html div.footer p{
    margin: 0 0 0.5em;
}
/*div.pageview div.viewer-body div.x-html div.footer > p{
    text-indent: 1em;
}*/
div.pageview div.viewer-body div.footer,
div.pageview div.viewer-body div.header{
    padding: 0.3em 1em 0.3em 0.5em;
}
div.pageview div.viewer-body *{
    max-width:100%;
}
div.pageview div.viewer-body div.footer img{
    //display:none;
    max-width:100%;
}
div.pageview div.viewer-body div.footer p[align=center]>strong{
    color:#4d4d4d;
    font-size:0.9em;
}
div.pageview div.viewer-body div.footer object,
div.pageview div.viewer-body div.footer embed,
div.pageview div.viewer-body div.footer iframe{
    display:none;
}
div.pageview div.viewer-body div.footer a.internalLink{
    color:#911119 !important;
}
div.pageview div.viewer-body div.footer a{
    color:#06C !important;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}

div.categories-list{
	border-bottom: 1px solid white;
    height: 2em;
    background-color: #58585A;
    //border-bottom: 1px solid black;
}
div.x-img.img-border{
	background-repeat: repeat-x;
}
div.categories-list div.x-button{
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: 1px solid #999;
    background-color: transparent;
    height: 1.3em;
	min-height: 1.3em;
    padding: 0.0em .6em;
    background-image:  none;
}
div.categories-list div.x-button span.x-button-label{
    font-weight: normal;
    font-size: 0.9em;
}
div.categories-list div.x-button.x-first{
    border-left: none;
    -webkit-border-top-left-radius:0;
    border-top-left-radius:0;
    -webkit-border-bottom-left-radius:0;
    border-bottom-left-radius:0;
}
div.categories-list div.x-button.x-last{
    border-right: none;
    -webkit-border-top-right-radius:0;
    border-top-right-radius:0;
    -webkit-border-bottom-right-radius:0;
    border-bottom-right-radius:0;
}
div.categories-list div.x-button.x-button-pressed{
    color:white;//#FF0918;//#A8141D;
    background-color: #4D090D;
}
div.categories-list div.x-button.x-button-pressed span.x-button-label{
    font-weight: bold;
}

div.articlescontent div.logo-mask{
	max-width:198px;
        background-color:white; 
        -webkit-mask-image:url("resources/magazine.png"); 
        -webkit-mask-size: 90% 60%;
        -webkit-mask-repeat:no-repeat;
        -webkit-mask-position: center;
        display: block; 
        position: relative;
}
/*========SendNewsContent==========*/
div.mainview form.sncontent div#sendNewsFieldset{
    margin: 0px;
}
div.mainview form.sncontent div.snLabel{
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
div.mainview form.sncontent div.smallBtn{
    margin-bottom: 0.5em;
    font-size: smaller;
	height:1.8em;
	min-height:1.8em;
}
div.mainview form.sncontent div#previewPhotoImg img#largeImage{
    width:auto; 
    max-width:100%; 
    height:auto;  
    margin:0 auto;
    display:block
}

/* Tiles view */
div#tiles {
    background-image: url('resources/pattern.png');
}

div.tilerow {
    
}
div.tilebutton {
    margin:0.2em;
    //opacity: 0.98;
    border-radius: 0.3em;
    background-color: gray;
    box-shadow:2px 2px 3px 0px rgba(119, 119, 119, 0.75);
}

div.tilebutton div.tileTitle {
    padding-left:0.5em;
    padding-top:0.5em;
    color: white
}
div.tilebutton div.tileDescr {
    font-size: small;
    padding-left:0.5em;
    padding-top:1em;
}

.x-icon-mask.6w {
    background-image: url('resources/icons/6w.png');
}


.x-toolbar {
    background-image:url('resources/header.png');
    background-repeat:no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    border:none;
}
.x-toolbar.x-docked-top {
    border-bottom:none;
}

.x-backbutton,
.x-toolbutton {
    background-repeat:no-repeat;
    background-size: 100% 100%;
        
    width:2em;
    height:2em;
}

.x-backbutton {
    background-image:url('resources/backbutton.png');
    margin-left:0.3em;
    margin-top:-0.2em;
}

.x-toolbutton#searchButton {
    background-image:url('resources/searchbutton.png');
}
.x-toolbutton#sortButton {
    background-image:url('resources/sortbutton.png');
}
.x-toolbutton#filterButton {
    background-image:url('resources/filterbutton.png');
}
//* {
//    font-family: "Tahoma";
//}

h3.x-list-header {
    color: white; 
}

div.x-toolbar div#backBtn, div.x-toolbar div.backBtn {
    color: yellow;
}
.x-panel.x-select-overlay.x-floating .x-component.x-list .x-list-item.x-item-selected {
    color: yellow;  
}
.x-panel.x-select-overlay.x-floating .x-component.x-list .x-list-item.x-item-selected .x-list-selected:after {
    border-color: yellow;
}

div#Viewport > div.x-tabbar div.x-tab span {
    color: yellow;
}

div.x-toolbar > div.x-toolbar-title {
    color: yellow;
}

div#phonesList .x-sheet-body .x-panel-body {
    background-color: transparent;
}

.x-sheet .x-sheet-body .x-panel {
    margin-bottom: 0.5em;
}
div.x-toolbar .x-field.x-field-select .x-input-text {
    color: yellow;
}
div.x-toolbar .x-field.x-field-select:after {
    border-top-color: yellow;
}
